img.normal{ 
    float: left;
    width: 300px;
    height: 300px;
    padding-right: 8px;
}

img.alta{
    float: left;
    width: 300px;
    height: 420px;
    padding-left: 8px;
}

h1{
    border-bottom-style: inset;
}

pre{
    font-size: 1.2em;
    padding-left: 8px;
}